---
layout: page
title: Authors
permalink: /authors/
published: true
---




  
<div class="bio">{{ page.content }}</div>

{% assign posts = site.posts | where: 'author', page.title %}
{% for post in posts %}
  {% include post.html %}
{% endfor %}
<div class="wrapper">
<div class="page">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  
  
  {% include page_divider.html %}

  <article class="post-content">
    {{ content }}

      </article>
</div>
</div>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
